body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5vw;
  background-color: rgb(241, 210, 182);
}

.title {
  font-family: "macula-line", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.7rem;
  background-color: rgb(226, 164, 192);
  color: rgb(161, 82, 216);
  text-shadow: rgb(255, 255, 255) 0px 0px 5px;
  padding: 0.8rem;
  margin: 0.5vw;
  padding-right: 5vw;
  padding-left: 5vw;
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 12px 12px hsl(117deg 0% 0% / 0.33)
  ;
}

#input {
  display: flex;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.122);
  gap: 1.5vw;
  height: 2.5vw;
  padding: 0.5vw;
  max-width: fit-content;
  flex-wrap: wrap;
}

#numTxt {
  font-size: 1rem;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: italic;
  color: #000;
}

#bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 38vw;
}

#resetBtn,
#colorBtn {
  margin-top: 1vw;
}

#num {
  font-size: 1rem;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: italic;
  color: #000;
  cursor: pointer;
  background-color: rgb(251, 255, 239);
  border: none;
}

#numBtn,
#resetBtn,
#colorBtn {
  font-size: 1rem;
  font-family: "dico-mono", mono;
  font-weight: 400;
  font-style: italic;
  color: #000;
  cursor: pointer;
  background-color: rgb(251, 255, 239);
  border: none;
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
  transition: 250ms;
}

#numBtn:hover,
#resetBtn:hover,
#colorBtn:hover {
  background-color: rgb(245, 255, 211);
  transform: translateY(4%);
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 12px 12px hsl(117deg 0% 0% / 0.33)
  ;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 38vw;
  height: 38vw;
  background-color: rgb(203, 193, 183);
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 10px 10px hsl(117deg 0% 0% / 0.33)
  ;
}

.drawing {
  background-color: #0000009e;
}