body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
  gap: 5vw;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50vw;
  height: 50vw;
}

.squares {
  background-color: #000000;
}

.drawing {
  background-color: #769bd3;
}